In this Project I try to detect credit card fraud

Data: https://www.kaggle.com/datasets/mlg-ulb/creditcardfraud

In [1]:
import pandas as pd 
import numpy as np 
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
dataset= pd.read_csv("creditcard.csv")

In [3]:
dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [4]:
dataset.shape

(284807, 31)

In [6]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [7]:
dataset['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

0 --> Normal Transaction 

1 --> Fraud Transaction 

The data is not balanced

In [11]:
legit=dataset[dataset.Class==0]
fraud=dataset[dataset.Class==1]

In [12]:
legit.shape,fraud.shape

((284315, 31), (492, 31))

Under Sampling

Build a sample dataset containing similar distribution of data.
fraud data length --> 492

In [13]:
legit_sample=legit.sample(n=492)

In [14]:
new_dataset=pd.concat([legit_sample,fraud],axis=0)

In [15]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
193866,130329.0,2.051490,-1.277468,-0.846669,-1.036384,-0.838835,0.130142,-1.134861,0.146114,0.023158,...,0.363403,0.894493,0.064621,0.295430,-0.152790,-0.116782,-0.015348,-0.047547,69.00,0
81657,59036.0,-0.946949,0.372076,1.422270,0.457900,0.628692,0.920316,-0.231776,0.592565,0.685822,...,0.158771,0.727445,-0.198491,-0.959261,-0.030800,-0.268096,0.095282,0.171695,2.00,0
170817,120368.0,-0.745506,0.552983,-0.269362,1.073886,0.140826,0.634010,1.511898,-0.342837,0.128450,...,0.064898,0.837607,-0.242193,0.479499,-0.032507,-0.455077,-0.571711,-0.436598,199.80,0
264882,161638.0,1.937756,-0.267095,-1.411694,-0.008624,0.802874,0.916342,-0.172662,0.277697,0.325621,...,-0.199481,-0.369388,0.334961,-1.633077,-0.460336,0.310303,-0.025862,-0.087506,1.10,0
160734,113590.0,2.070589,0.195494,-1.715259,0.401676,0.502013,-0.831695,0.239924,-0.275778,0.386674,...,-0.357010,-0.897136,0.320466,0.502169,-0.227957,0.172041,-0.058852,-0.028640,6.28,0

In [16]:
new_dataset['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [17]:
X=new_dataset.drop('Class',axis=1)
Y=new_dataset['Class']

In [18]:
x_train, x_test, y_train, y_test=train_test_split(X,Y,test_size=0.2,stratify=Y,random_state=42)

Model Building

Logistic Regression

In [20]:
model =LogisticRegression()

In [21]:
model.fit(x_train,y_train)

LogisticRegression()

Evaluation

In [24]:
train_pred=model.predict(x_train)
train_acc=accuracy_score(train_pred,y_train)
train_acc

0.9336043360433605

In [25]:
test_pred=model.predict(x_test)
test_acc=accuracy_score(test_pred,y_test)
test_acc

0.9471544715447154